// If you need a handy color picker try http://hslpicker.com
// Or look at octopress/sass/base/solarized.scss for inspiration. The colors in there are excellent.
// The following are ordered in terms of vague importance.

$burgundy: #800020;
$yellow: #8C8200;
$blue: #07325B;

$main-color: $blue;
$contrast-color: $burgundy;


// We use the main color a lot!
$m: $main-color;
$c: $contrast-color;

/*
// These 3 will be used anyway

// On the shadow of the footer letters
$m-5: lighten($m, 5);




// On the background of the search box (whose text is always grey)
$m-12: lighten($m, 12);

// on the shadow of the navigation text
$m-15: lighten($m, 15);
*/

//Palette
//$off-white: lighten($m, 84);
$off-white: lighten($m, 80);
$black: darken($m, 25);
$light: desaturate(lighten($m, 16), 10);
$subdued: desaturate(lighten($m, 24), 10);

//Header
$header-bg: $off-white;
$header-border: $off-white;
$title-color: $c;
$subtitle-color: $c;


// Navigation
$nav-bg: $off-white;
$nav-bg-front: $off-white;
$nav-bg-back: $off-white;
$nav-color: $subdued;
$nav-color-hover: $m;
$nav-placeholder: $subdued;
$nav-border: $off-white;
$nav-border-top: $off-white;
$nav-border-bottom: $off-white;
$nav-border-left: $off-white;
$nav-border-right: $off-white;


// Main Section Colors
$main-bg: $off-white;
$page-bg: $off-white;
$type-border: $off-white;
$article-border: $off-white;
$text-color: $m;
$text-color-light: $light;

//$text-shadow: $m;

// Sidebar colors
$sidebar-color: $light;
$sidebar-bg: $off-white;
$sidebar-border: $off-white;
$sidebar-border-hover: $subdued;
$sidebar-link-color-subdued: $subdued;

// Footer
$footer-bg: $off-white;
$footer-bg-front: $off-white;
$footer-bg-back: $off-white;
$footer-color: $light;
$footer-color-hover: $m;
$footer-border-top: $off-white;
$footer-border-bottom: $off-white;
$footer-link-color: $m;
$page-border-bottom: $off-white;

//How links appear overall
$link-color: $light;
$link-color-hover: $m;
$link-color-active: $black;
$link-color-visited: $subdued;


// all links are equal for me here
$sidebar-link-color-subdued-hover: $subdued;
$twitter-status-link: $link-color;
$footer-link-color-hover: $link-color-hover;
$footer-link-color-visited: $link-color-visited;
$footer-link-color-active: $link-color-active;
$sidebar-link-color: $link-color;
$sidebar-link-color-hover:  $link-color-hover;
$sidebar-link-color-visited: $link-color-visited;
$sidebar-link-color-active: $link-color-active;
$nav-link-color: $link-color;
$nav-link-color-hover: $link-color-hover;
$nav-link-color-visited: $link-color-visited;
$nav-link-color-active: $link-color-active;


/*
to keep around a little
$sidebar-bg: $m; //desaturate(lighten($sidebar-color, 70), 8);
$link-color: lighten($m, 20);
$link-color-hover: lighten($m, 30);
$link-color-visited: desaturate($m, 10);
$link-color-active: lighten($m, 15);
*/
